html {
    background-color: #cbeef9;
    font-family: "Raleway";
  }

  /* Menu bar styles */
  .menu-bar {
    display: flex;
    background-color: #333;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    z-index: 1000;
  }

  body {
    margin-top: 65px;
    /* To avoid content overlap with the fixed menu */
  }

  .menu-item {
    padding: 8px 20px;
  }

  .menu-item a {
    color: white;
    text-decoration: none;
    text-align: center;
  }

  .menu-item a:hover {
    background-color: #111;
  }
