html {
    background-color: #ffffff;
    font-family: "Raleway";
}

#Ball {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; 
    overflow: hidden; 
}

p {
    font-size: 30px;
    margin-left: 7%;
    margin-right: 10%;
    line-height: 30px;
    margin-block: 10px;
    font-weight: 400;
}

.smallheading {
    font-weight: 600;
}

/* Menu bar styles */
.menu-bar {
    display: flex;
    background-color: #ffffff;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    z-index: 1000;

}

body {
    margin-top: 65px;
    /* To avoid content overlap with the fixed menu */
}

.menu-item {
    padding: 8px 20px;

}

.menu-item a {
    color: midnightblue;
    text-decoration: none;
    text-align: center;
    font-weight: 600;
}

.menu-item a:hover {
    background-color: #ffffff;
}


.answer {
    display: none;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Style for questions */
.question {
    cursor: pointer;
    color: #2A2A72;
    font-weight: bold;
}

.question:hover {
    text-decoration: underline;
}

ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    margin-top: 55px;
    /* Center the text */
}

li {
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
    font-size: 16pt;
    /* Makes sure list items are centered horizontally */
}

.question,
.answer {
    text-align: center;
}

h1 {
    text-align: center;
    color: midnightblue;
    font-size: 45px;
    margin-bottom: 7%;
    margin-top: 8%;
}

.fading {
    display: inline-block;
}

.fading span {
    display: inline-block;
    opacity: 1;
    /* Start with faded letters */
    transition: opacity 3.5s ease;
    /* Smooth transition */
}

.fading span:hover {
    opacity: 0;
    transition: opacity 0.1s ease;
    /* Full opacity on hover */
}